/**
* New global styles for consideration
* Note: A slow integration - will be adding to sheet
*/
body::before {
    position: absolute;
    content: "";
    height: 89px;
    width: 100%;
    background-color: #f7f7f7;
    border-bottom: solid 1px #d8d8d8;
    top: 0;
}
body {
    font: normal 14px Helvetical, Arial, sans-serif;
    color: #333;
    margin: 0px;
    padding: 0px;
}
a {
    color: #333399;
    text-decoration: none;
}
a:hover {
    cursor: pointer;
}
h2 {
    font-size: 22px;
    font-weight: normal;
    color: #354466;
}
figure, figcaption, section {
    display: block;
}
ol, ul {
    padding: 0px;
}
ol li, ul li {
    margin-bottom: 3px;
}
/**
* UL/OL Element with Specific Class for Custom list
*/
ul.cd2-list, ol.cd2-number-list {
    position: relative;
    list-style: none;
    margin: 0px 0px 0px 25px;
    padding: 0px;
}
ul.cd2-list li, ol.cd2-number-list li {
    /*margin-bottom: 10px;*/
    line-height: 19px;
}
ul.cd2-list li:before, ol.cd2-number-list li:before {
    position: absolute;
    width: 8px;
    height: 8px;
    left: -15px;
    margin-top: 5px;
    text-align: center;
    line-height: 18px;
    font-size: 12px;
    color: #ffffff;
    background-color: #354466;
    content: "";
}
/**
* OL Element with Specific Class: Custom numeric bullet list
*/
ol.cd2-number-list {
    counter-reset: item;
}
ol.cd2-number-list li:before {
    counter-increment: item;
    content: counter(item);
}
/**
*
*/
div.cd2-img-left {
    position: relative;
    display: inline-block;
    float: left;
    margin: 0 20px 20px 0;
    z-index: 2;
}
img.cd2-img-left {
    position: relative;
    float: left;
    margin: 0 20px 20px 0;
    z-index: 2;
}

.cd2-img-left .cd2-zoom {
    position: relative;
    display: block;
    margin-top: 3px;
    font-size: 11px;
    text-align: right;
}
.cd2-img-left .cd2-zoom:hover {
    cursor: pointer
}
.cd2-img-left .cd2-zoom .icon-zoom-in {
    margin-right: 3px;
}
div.cd2-img-right {
    position: relative;
    display: inline-block;
    float: right;
    margin: 0 0 20px 20px;
    z-index: 2;
}
img.cd2-img-right {
    position: relative;
    float: right;
    margin: 0 0 20px 20px;
    z-index: 2;
}
.cd2-img-right .cd2-zoom {
    position: relative;
    display: block;
    margin-top: 3px;
    font-size: 11px;
    text-align: left;
}
.cd2-img-right .cd2-zoom:hover {
    cursor: pointer
}
.cd2-img-right .cd2-zoom .icon-zoom-in {
    margin-right: 3px;
}
/**
* Clear floating or inline elements
*/
.cd2-clear-both {
    position: relative;
    height: 0px;
    clear: both;
}
/**
* Table Element with Specific Class: Data structures
* Note: we will have to make an alt version suitable for mobile
*/
.cd2-data-table {
    position: relative;
    width: 100%;
    font-size: 14px;
    margin-bottom: 35px;
    border-collapse: collapse;
}
.cd2-data-table td {
    min-height: 40px;
    padding: 10px;
    text-align: center;
    border: 1px solid #ccc;
}
.cd2-data-table thead tr {
    font-weight: bold;
    color: #000000;
    background-color: #d9e5f8;
}
/**
* All Buttons (not necc. the 'button' element)
*/
/** generic style **/
.cd2-button {
    position: relative;
    display: inline-block;
    -webit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0px 10px;
    min-height: 32px;
    line-height: 32px;
    color: #fff;
    font-weight: bold;
    font-size: 16px;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.6);
    text-decoration: none;
    background-color: #87c226;
    background-image: -webkit-linear-gradient(top, #90cc2e, #87c226);
    background-image: -moz-linear-gradient(center top, #90cc2e, #87c226);
    background-image: -ms-linear-gradient(top, #90cc2e, #87c226);
    background-image: linear-gradient(to bottom, #90cc2e, #87c226);
}
.cd2-button:hover {
    cursor: pointer;
    background-position: 0 -38px;
    background-image: -webkit-linear-gradient(top, #87c226, #90cc2e);
    background-image: -moz-linear-gradient(center top, #87c226, #90cc2e);
    background-image: -ms-linear-gradient(top, #87c226, #90cc2e);
    background-image: linear-gradient(to bottom, #87c226, #90cc2e);
}
.cd2-button:hover em {
    background-position: -475px -38px;
}
/** include this for borders + inset shadow (depth) **/
.cd2-green {
    border: 1px solid #67a304;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.4);
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset;
}
.cd2-green:hover {
    background: #87c226;
}
.cd2-orange {
    color: #000;
    background: #f4d572;
    background: -moz-linear-gradient(center top, #f4d572, #e3c050);
    background: -webkit-linear-gradient(top, #f4d572, #e3c050);
    background: -ms-linear-gradient(top, #f4d572, #e3c050);
    background: linear-gradient(to top, #f4d572, #e3c050);
    border: 1px solid #d1b24d;
    text-shadow: 0 -1px 0 rgba(255, 255, 255, 0.4);
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset;
}
.cd2-orange:hover {
    background: #e3c050;
}
.cd2-gray {
    color: #333333;
    background: #f7f7f7;
    background: -moz-linear-gradient(center top, #f7f7f7, #e6e6e6);
    background: -webkit-linear-gradient(top, #f7f7f7, #e6e6e6);
    background: -ms-linear-gradient(top, #f7f7f7, #e6e6e6);
    background: linear-gradient(to top, #f7f7f7, #e6e6e6);
    border: 1px solid #ccc;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset;
    text-shadow: none;
}
.cd2-gray:hover {
    background: #e6e6e6;
}
/** include these for pre-set sizing **/
.cd2-xxlarge {
    padding: 0px 10px;
    font-size: 18px;
    line-height: 38px;
    border-radius: 4px;
    min-height: 0px;
}
.cd2-xlarge {
    padding: 0px 10px;
    font-size: 18px;
    line-height: 34px;
    border-radius: 4px;
    min-height: 0px;
}
.cd2-large {
    padding: 0px 10px;
    font-size: 16px;
    line-height: 30px;
    border-radius: 4px;
    min-height: 0px;
}
.cd2-small {
    padding: 0px 10px;
    font-size: 14px;
    line-height: 26px;
    border-radius: 4px;
    min-height: 0px;
}
.cd2-xsmall {
    padding: 0px 10px;
    font-size: 14px;
    line-height: 24px;
    border-radius: 4px;
    min-height: 0px;
}
.cd2-xxsmall {
    padding: 0px 10px;
    font-size: 14px;
    line-height: 22px;
    border-radius: 4px;
    min-height: 0px;
}
.cd2-xxxsmall {
    padding: 0px 10px;
    font-size: 12px;
    line-height: 20px;
    border-radius: 4px;
    min-height: 0px;
}
.cd2-xxxxsmall {
    padding: 0px 6px;
    font-size: 11px;
    line-height: 18px;
    border-radius: 4px;
    min-height: 0;
}
/**
* CarsDirect Tip (used in many places.. YMM & mobile pages)
*/
.cd2-carsDirectTip {
    position: relative;
    display: block;
    font-size: 14px;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #ffffcc;
    border: 1px solid #ccc;
}
.cd2-carsDirectTip .tipTitle {
    color: #ff6600;
    font-weight: bold;
    margin-bottom: 6px;
    padding-left: 20px;
    /** Let's not use fontAwesome pencil as it's not as nice looking **/
    background: url('//cdcssl.ibsrv.net/cdcx/mt/images/carsdirect-tip-pencil.png') no-repeat;
}
/** These two alters the CarsDirect Tip snippet for mobile devices **/
@media handheld {
    .cd2-carsDirectTip {
        border-left: none;
        border-right: none;
        padding: 10px 12px 10px 12px;
    }
}
@media screen and (min-device-width: 480px) and (max-device-width: 1080px) {
    .cd2-carsDirectTip {
        border-left: none;
        border-right: none;
        padding: 10px 12px 10px 12px;
    }
}
/**
* ----------------------------------
* Below are for 'Response' layouts (ideal for mobile)
*/
/**
* Collapsable segments + title
*/
.cd2-adaptive-segment {
    position: relative;
    width: auto;
    border-bottom: 2px solid #5c5c5c;
}
.cd2-adaptive-segment header h2.cd2-adaptive-segment-title {
    margin: 0px 10px 0px 10px;
    padding: 10px 30px 10px 0px;
    font-size: 18px;
    font-weight: bold;
    color: #364366;
}
.cd2-adaptive-segment header span.button-collapse {
    position: absolute;
    font-size: 24px;
    color: #aaaaaa;
    right: 10px;
    top: 10px;
}
.cd2-adaptive-segment .cd2-adaptive-segment-body {
    position: relative;
    padding: 10px;
    border-top: solid 1px #e0e0e0;
}
.cd2-adaptive-segment .cd2-adaptive-segment-body > p {
    margin: 5px 0px 5px 0px;
}
/**
* Responsive Combos
*/
.cd2-adaptive-combo {
    position: relative;
}
/**
* Global Page wrapper, header, page crumb & top banner (additional styles are in their respective components)
*/
#pageArea {
    position: relative;
    margin: 0px auto;
    width: 1000px;
}
#header_row2 {
    position: relative;
    height: 60px;
    margin-top: 27px;
}
#LogoAndNavWrapper {
    position: relative;
    padding-top: 10px;
}
#CarsDirectLogo {
    float: left;
}
.wrapper-breadcrumb {
    position: relative;
    float: left;
}
.wrapper-breadcrumb #BreadCrumbs {
    position: relative;
}
#TopBanner {
    position: relative;
    text-align: center;
    margin: 10px 0 10px;
    min-height: 90px;
}
.phoneLink:hover {
    cursor: text;
}

/*
* CDCX-27337 - these were added until we can fully cut off this stylesheet component;
* these are a modified version of the set found in CDCYDesktopGlobalStyles, which is
* needed to counter the faulty markup of the old page layouts.
* These rules only apply to the 'Ad' text found next to ad spots
* Do not F'ck with these unless you know what you're doing (plz) - dbolton
*/
.CDCYGPTPlaceholder.widget > div {
    position: relative;
    display: block;
}
.textRightTop > div::before,
.textTopRight > div::before,
.textBottomRight > div::before,
.textTopLeft > div::before,
.textLeftTop > div::before,
.textBottomLeft > div::before,
.textRightMiddle > div::before {
    content: "Ad";
    position: absolute;
    height: 0.625rem;
    font-family: 'Roboto', Helvetica;
    font-size: 0.563rem;
    line-height: 0.11rem;
    color: #9e9e9e;
    z-index: 99;
    pointer-events: none;
}
.textTopRight > div::before {
    right: 0.15rem;
    top: -0.4rem;
}
.textRightTop > div::before {
    right: -0.85rem;
    top: 0.3rem;
}
.textBottomRight > div::before {
    right: 0.15rem;
    bottom: -1.0rem;
}
.textTopLeft > div::before {
    left: 0.15rem;
    top: -0.4rem;
}
.textLeftTop > div::before {
    left: -0.85rem;
    top: 0.3rem;
}
.textBottomLeft > div::before {
    left: 0.15rem;
    bottom: -1.0rem;
}
.textRightMiddle > div::before {
    right: -1.25rem;
    top: 0;
    bottom: 0;
    /* we equal the height of the ad to mimic vertical alignment
    * we use 'px' for IE
    */
    line-height: 16px;
}
/* Sponsored Ad logic */
.sponsoredAdText > div::before {
    content: "Sponsored Ad";
}
.sponsoredAdText > div > iframe {
    background-color:transparent;
}
/* Specific to full width ads */
.adSpotFullWidth .textRightTop > div::before {
    right: -1rem;
    top: 0.25rem;
}
