.carGallery {
    position: relative;
    width: 600px;
}
.carGallery .imgHolder {
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 600px;
    height: 450px;
    background-color: #333333;
    overflow: hidden;
}
.carGallery .imgHolder a:hover {
    cursor: zoom-in;
}
.carGallery .imgHolder a.nolink:hover {
    cursor: default;
}
.carGallery .imgHolder:hover .photoNavi {
    display: block;
}
.carGallery .imgHolder .photoList {
    list-style: none;
    margin: 0px;
    padding: 0px;
}
.carGallery .imgHolder .photoList li {
    position: relative;
    width: 600px;
    height: 450px;
    backface-visibility: hidden;
}
.carGallery .imgHolder .photoList li div {
    position: relative;
    display: table-cell;
    width: 600px;
    height: 450px;
    text-align: center;
    vertical-align: middle;
}
.carGallery .imgHolder .photoList li a {
    outline: none;
}
.carGallery .imgHolder .photoList li a img {
    margin: 0px auto;
}
.carGallery .imgHolder .photoNavi {
    position: absolute;
    width: 45px;
    height: 100px;
    top: 190px;
    text-align: center;
    z-index: 99;
    /** IE8 hack **/
    filter: alpha(opacity=50);
    background-color:#000000;
    opacity:0.7;
}
.carGallery .imgHolder .photoNavi:hover {
    cursor: pointer;
}
.carGallery .imgHolder .photoNaviLeft {
    left: 0px;
}
.carGallery .imgHolder .photoNaviRight {
    right: 0px;
}
.carGallery .imgHolder .photoNavi:before {
    position: absolute;
    width: 45px;
    height: 100px;
    top: 0px;
    left: 0px;
    content: "";
    z-index: 1;
    background-color:#000000;
    opacity: 0.7;
}
.carGallery .imgHolder .photoNavi span {
    position: relative;
    display: block;
    margin-top: 23px;
    font-size: 50px;
    font-weight: normal;
    z-index: 2;
    color:#ffffff;
    opacity:1;
}
.carGallery .imgHolder .photoNaviRight span {
    margin-left: 3px;
}
.carGallery .imgHolder .photoNaviLeft span {
    margin-right: 3px;
}
/** Do not force abs dimensions. **/
.carGallery .imgHolder img {
    max-width: 600px;
    max-height: 450px;
    border: none;
}
/**
* Begin thumbs gallery
*/
.carGallery .thumbsHolder {
    position: relative;
    width: 600px;
    height: 90px;
    margin-top: 3px;
    overflow: hidden;
}
.carGallery .thumbsHolder .photoNavi {
    position: absolute;
    width: 30px;
    height: 90px;
    top: 0px;
    text-align: center;
    z-index: 2;
    /** IE8 hack **/
    filter: alpha(opacity=50);
}
.carGallery .thumbsHolder .photoNavi:hover {
    cursor: pointer;
}
.carGallery .thumbsHolder .photoNavi:before {
    position: absolute;
    width: 30px;
    height: 90px;
    top: 0px;
    left: 0px;
    background-color: #000;
    opacity: 0.7;
    content: "";
    z-index: 1;
}
.carGallery .thumbsHolder .photoNavi span {
    position: relative;
    display: block;
    font-size: 30px;
    margin-top: 25px;
    color: #fff;
    z-index: 2;
}
.carGallery .thumbsHolder .photoNaviRight span {
    margin-left: 3px;
}
.carGallery .thumbsHolder .photoNaviLeft span {
    margin-right: 3px;
}
.carGallery .thumbsHolder .photoNaviLeft {
    left: 0px;
}
.carGallery .thumbsHolder .photoNaviRight {
    right: 0px;
}
.carGallery .thumbsHolder .photoList {
    list-style: none;
    margin: 0px;
    padding: 0px;
}
.carGallery .thumbsHolder .photoList li {
    position: relative;
    float: left;
    width: 120px;
    height: 90px;
    text-align: center;
    background-color: #000;
    backface-visibility: hidden;
}
.carGallery .thumbsHolder .photoList li:hover {
    cursor: pointer;
}
/** Do not force abs dimensions. **/
.carGallery .thumbsHolder .photoList li img {
    max-width: 120px;
    max-height: 90px;
    margin: 0px auto;
    border: none;
}

.itemLoader {
    background: url('//cdcssl.ibsrv.net/cdcx/images/bx_loader2.gif') center no-repeat;
}
