/**
* CDCX-22618: Variant 1 rules
*/
.wrapperPriceChange {
    position: relative;
    display: none;
    z-index: 99;
}
.priceChangeAlertIconSet {
    position: relative;
    display: inline-block;
    vertical-align: top;
    cursor: pointer;
    margin-left: 6px;
}
.priceChangeAlertIconSet::before {
    position: relative;
    display: inline-block;
    content: "\f0f3";
    font-family: FontAwesome;
    font-size: 17px;
}
.priceChangeAlertIconSetActive {
    color: #72C512;
}
.modalChangeAlertIcon::before {
    position: absolute;
    left: 10px;
    top: 32%;
    content: "\f0f3";
    font-family: FontAwesome;
    font-size: 17px;
}
.priceChangeTooltip {
    position: absolute;
    display: none;
    box-sizing: border-box;
    right: -14px;
    top: 28px;
    width: 226px;
    padding: 8px;
    border: solid 3px #72C512;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.5);
    background-color: #fff;
    border-radius: 5px;
}
.priceChangeTooltip .handle {
    position: absolute;
    right: 5px;
    top: -15px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 15px 15px 15px;
    border-color: transparent transparent #71c512 transparent;
}
.priceChangeTooltip .handle::before {
    position: absolute;
    content: "";
    right: 0;
    left: -15px;
    top: 4px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 15px 15px 15px;
    border-color: transparent transparent #fff transparent;
}
.priceChangeTooltip h6 {
    margin: 0;
    padding: 0 0 3px 0;
    font-size: 13px;
    text-align: center;
    border-bottom: solid 1px #999;
}
.priceChangeTooltip p {
    margin: 5px 0 0 0;
    padding: 0;
    font-size: 12px;
    font-weight: normal;
    color: #414040;
}
.wrapperPriceChange:hover .priceChangeTooltip {
    display: block;
}
/* Modalbox overrides */
.priceChangeAlertModalContent,
.priceChangeAlertCancelModalContent {
    display: none;
    text-align: center;
}
.priceChangeAlertModalContent .ymmTextTitle {
    position: relative;
    display: block;
    margin-bottom: 10px;
}
.priceChangeAlertModalContent p,
.priceChangeAlertCancelModalContent p {
    font-size: 14px;
    color: #595858;
    margin: 0;
    padding: 0;
}
.priceChangeAlertModalContent .inputSet,
.priceChangeAlertModalContent .buttonSet,
.priceChangeAlertCancelModalContent .buttonSet {
    position: relative;
    margin-top: 18px;
}
.priceChangeAlertModalContent .priceAlertPhoneEntry {
    box-sizing: border-box;
    width: 340px;
    font-size: 16px;
    padding: 6px 10px;
    border: solid 1px #ccc;
}
.priceChangeAlertModalContent p.tcpa {
    font-size: 8px;
    color: #999;
    margin-top: 20px;
    text-align: left;
    line-height: 0.75rem;
}
.priceChangeAlertModalContent p.tcpa::before {
    position: relative;
    float: left;
    height: 20px;
    content: "\f046";
    font-family: FontAwesome;
    font-size: 12px;
    font-weight: normal;
    margin: 0 8px 0 0;
}
.priceChangeAlertModalContent p.error {
    display: none;
    color: #d00303;
    font-size: 12px;
    line-height: 1rem;
    text-align: left;
    margin: 5px 0 0 5px;
    padding: 0;
}
.priceChangeAlertCancelModalContent p {
    font-size: 18px;
    margin-top: 15px;
}
.priceChangeAlertCancelModalContent .buttonSet2 {
    margin: 20px auto 20px;
}
.continueBrowsingSet {
    position: relative;
    display: block;
    text-align: center;
    margin-top: 15px;
}
.priceChangeAlertCancelModalContent .cancelAlertLink,
.continueBrowsingSet .continueBrowsingLink {
    text-transform: uppercase;
    font-size: 15px;
    font-weight: bold;
    text-decoration: underline;
    color: #3a3a3c;
    cursor: pointer;
}
.continueBrowsingSet .continueBrowsingLink {
    font-size: 11px;
}
div.ModalBox .titleBar {
    color: #333;
    font-size: 17px;
}
div.ModalBox .priceChangeAlertModalContent,
div.ModalBox .priceChangeAlertCancelModalContent {
    display: block;
}
.priceChangeAlertOK,
.priceChangeAlertCancelIcon {
    position: relative;
    display: block;
    text-align: center;
}
.priceChangeAlertOK::before {
    content: "\f05d";
    position: relative;
    display: inline-block;
    font-size: 70px;
    font-family: FontAwesome;
    font-weight: normal;
    color: #339;
}
.priceChangeAlertSuccess {
    font-size: 16px;
    text-align: center;
    margin-left: 0;
    margin-right: 0;
}
.buttonSet2,
.buttonSet3 {
    position: relative;
    text-align: center;
    margin-top: 20px;
}
.buttonSet2 div.cd2-button,
.buttonSet3 div.cd2-button {
    font-size: 12px;
}
.priceChangeAlertCancelIcon::before {
    content: "\f057";
    position: relative;
    display: inline-block;
    font-size: 70px;
    font-family: FontAwesome;
    font-weight: normal;
    color: #d00303;
}
/* Mobile specific */
.priceChangeAlertModalContentMobile .ymmTextTitle,
.priceChangeAlertModalContentMobile > p {
    text-align: left;
}
.priceChangeAlertModalContentMobile .priceAlertPhoneEntry {
    width: 100%;
}
div.ModalBox .titleBar {
    font-size: 17px;
}
div.ModalBox_mobile .titleBar {
    text-align: left;
}
div.ModalBox_mobile .priceChangeAlertOK::before,
div.ModalBox_mobile .priceChangeAlertCancelIcon::before {
    font-size: 60px;
    margin-top: 20px;
}
div.ModalBox_mobile p.priceChangeAlertSuccess,
div.ModalBox_mobile .priceChangeAlertCancelModalContent p {
    font-size: 14px;
}
div.ModalBox_mobile .cancelAlertLink {
    font-size: 12px;
}