/* breadcrumbs */
#BreadCrumbs{float:none;}
/*#Body{
float:none;
overflow:hidden;
}
*/
.breadCrumbs{
    width:100%;
    margin:0 0 0 2px;
    padding:0;
    list-style:none;
    font-size:11px;
    line-height:13px;
    position:relative;
    z-index:10;
}
.breadCrumbs .home span{
    padding:0!important;
}
.breadCrumbs:after{
    content:"";
    clear:both;
    display:block;
}
.breadCrumbs li{
    float:left;
    background:url(//cdcssl.ibsrv.net/cdcx/images/divider-02.gif) no-repeat 0 9px;
    padding:5px 6px 0px 12px;
    position:relative;
}
.breadCrumbs li:first-child{
    background:none;
    padding-left:0;
}

.breadCrumbs li a.has-drop-down-link{
    padding:0px 25px 0px 4px;
}
.breadCrumbs li a {
    float:left;
    color:#666;
    text-decoration:none;
}
.breadCrumbs li a.home{padding:0; }
.breadCrumbs li .icon{
    position:absolute;
    text-indent:-9999px;
    overflow:hidden;
    width:12px;
    height:11px;
    top:6px;
    right:8px;
    z-index:1002;
    background:url(//cdcssl.ibsrv.net/cdcx/images/arrow2.gif) no-repeat;
}
.breadCrumbs li a:hover{text-decoration:underline;}

.breadCrumbs li.hasDropDown a.showHover{
    border:1px solid #c0c0c0;
    border-width:1px 1px 0 0;
    margin:-1px -1px -1px 0;
    position:relative;
    z-index:1001;
    background:#fff url(//cdcssl.ibsrv.net/cdcx/images/bg-hover-breadcrumbs.png) no-repeat;
}

.breadCrumbs .drop{
    position:absolute;
    left:-9999px;
    top:100%;
    z-index:999;
    width:999px;
    font-size:11px;
    line-height:13px;
    margin-left:5px;
}

.breadCrumbs li .showDrop{left:7px;}

.breadCrumbs .drop .dropInner{
    float:left;
    position:relative;
}
.breadCrumbs .drop .col{
    float:left;
    padding:0 35px 0 0;
}
.breadCrumbs .drop .last-col{padding:0;}
.breadCrumbs .drop ul{
    padding:0;
    margin:0;
    min-width:50px;
    list-style:none;
}
.breadCrumbs .drop ul li{
    float:none;
    background:none;
    padding:0 0 5px;
    margin:0;
    overflow:hidden;
}
.breadCrumbs .drop ul li a,
.breadCrumbs li.hasDropDown:hover .drop ul li a{
    padding:0;
    margin:0;
    border:0;
    height:auto;
    color:#666;
    background:none;
    float:none;
    display:inline;
    position:relative;
}
.breadCrumbs .drop ul li a:hover,
.breadCrumbs li.hasDropDown:hover .drop ul li a:hover{
    color:#339;
}
.table { display: table; }
.dropBody {
    display: table-row;
    *padding:4px; /* IE 7 and below */
}
.dropLeft,
.dropRight{
    display:table-cell;
    *position: absolute; /* IE 7 and below */
    *top: 0; /* IE 7 and below */
    *left: 0; /* IE 7 and below */

    *top: 4px; /* IE 7 and below */
    *z-index:999; /* IE 7 and below */
}
.dropLeft{
    width:3px;
    background:url(//cdcssl.ibsrv.net/cdcx/images/bg-drop-left.png) repeat-y;
}
.dropRight{
    width:8px;
    background:url(//cdcssl.ibsrv.net/cdcx/images/bg-drop-right.png) repeat-y;
}
.dropContent{
    background:#fff;
    padding:9px 26px 6px 9px;
    display:table-cell;
    float:left; /* IE 7 and below */
}
.dropLeftTop{
    width:3px;
    height:5px;
    background:url(//cdcssl.ibsrv.net/cdcx/images/bg-drop-top-left.png) no-repeat;
}
.dropRightTop{
    width:8px;
    height:5px;
    background:url(//cdcssl.ibsrv.net/cdcx/images/bg-drop-top-right.png) no-repeat;
}
.dropLeftBottom{
    width:3px;
    height:8px;
    background:url(//cdcssl.ibsrv.net/cdcx/images/bg-drop-bottom-left.png) no-repeat;
}
.dropRightBottom{
    width:8px;
    height:8px;
    background:url(//cdcssl.ibsrv.net/cdcx/images/bg-drop-bottom-right.png) no-repeat;
}
.dropLeftTop,
.dropRightTop,
.dropLeftBottom,
.dropRightBottom{
    font-size:0;
    display:table-cell;
    *position: absolute; /* IE 7 and below */
    *top: 0; /* IE 7 and below */
    *left: 0; /* IE 7 and below */
}
.dropTop,
.dropBottom{
    display:table-cell;
    font-size:0;
    *position: absolute; /* IE 7 and below */
    *top: 0; /* IE 7 and below */
    *left: 0; /* IE 7 and below */
    *left: 4px; /* IE 7 and below */
}
.dropTop{
    height:5px;
    background:url(//cdcssl.ibsrv.net/cdcx/images/bg-drop-top.gif) repeat-x;
}
.dropBottom{
    height:8px;
    background:url(//cdcssl.ibsrv.net/cdcx/images/bg-drop-bottom.png) repeat-x;
}

.breadCrumbs .drop .btnCloseDrop,
.breadCrumbs li.hasDropDown:hover .drop .btnCloseDrop{
    position:absolute;
    top:3px;
    right:10px;
    padding:0;
    width:12px !important;
    height:12px;
    text-indent:-9999px;
    overflow:hidden;
    margin:0;
    border:0 !important;
    background:url(//cdcssl.ibsrv.net/cdcx/images/btn-close.gif) no-repeat;
    float:none;
    cursor: pointer;
}
* +html .breadCrumbs .drop .btnCloseDrop,
* +html .breadCrumbs li.hasDropDown:hover .drop .btnCloseDrop{
    right:7px;
}

.breadCrumbs li span{
    padding:0px 0px 0px 4px;
    color:#666;
}

.breadCrumbs .plainCrumby a{
    padding: 0px;
}