@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700");
@import url("https://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.min.css");
@import url("https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css");
@import url("https://cdn.jsdelivr.net/npm/animate.css@3.5.1");

.app{
    position: relative;
    margin: 0px auto;
    width: 1000px;
}
