
.brandingBar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 30px;
    background: #323399;
    z-index: 99998;
    text-align: center;
}
#BlueBarWrapper{
    position: relative;
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    font-family: Roboto;
    font-weight: normal;
}
.leftBlueBarLinks, .rightBlueBarLinks {
    display: inline-block;
}
.rightBlueBarLinks {
    float:right;
}
.leftBlueBarLinks {
    float:left;
}
.leftBlueBarLinks ul, .rightBlueBarLinks ul {
    margin: 0 ;
    padding: 0;
    list-style: none;
}

.leftBlueBarLinks ul li, .rightBlueBarLinks ul li {
    position: relative;
    display: inline-block;
    box-sizing: border-box;
    vertical-align: top;
    margin:0.1rem 0.75rem;
}
.leftBlueBarLinks ul li{
    margin:0.08rem 1.34rem 0.1rem 0;
}
.leftBlueBarLinks ul li.liveChat{
    margin-left: 0.25rem;
    padding-top : 0.188rem;
}
.leftBlueBarLinks ul li.help{
    margin-left: 0.1rem;
}
.rightBlueBarLinks ul{
    margin-right:-11px;
}
.showCarNumBox, .showNumSearchesBox{
    display:inline-block;
    height: 1.188rem;
    border-radius: 0.25rem;
    background-color: #ffffff;
    margin-left:0.73rem;
    vertical-align: middle;
}
.innerFont{
    width: 0.625rem;
    height: 1.25rem;
    font-size: 1rem;
    line-height: 1.25;
    color: #9e9e9e;
    margin: 0.34rem;
}
.ion-android-phone-portrait, .ion-help-circled{
    font-size:1.5rem;
    vertical-align: middle;
    padding-right: 0.7rem;
    color:#ffffff;
}
.phoneNo, .helpLink, .saved, .searches{
    display: inline-block;
    vertical-align: middle;
    font-size: 0.9379rem;
    line-height: 1.47;
    color: #ffffff;
    margin-top:0.22rem;
}
.phoneNo, .helpLink{
    vertical-align: top;
}
a[href^="tel"] {
    color: inherit; /* Inherit text color of parent element. */
    text-decoration: none; /* Remove underline. */
}
.cdcHeaderMenuWrapper {
    width: 100%;
    height: 5.563rem;
    padding: 2.55rem 0 0 0;
    text-align: center;
    z-index: 1;
}
.cdcHeaderMenuWrapper .logo {
    display:block;
    width:200px;
    height:39px;
    text-indent:-9999px;
    background: url(//cdcssl.ibsrv.net/cdcx/images/logo-bg-color2.png) no-repeat;
    background-position: 0px 0px;
    overflow:hidden;
}
.cdcHeaderMenuWrapper .logo a{
    display:block;
    height:100%;
}

.mobileMainMenuIcon {
    position: absolute;
    display: none;
    top: 0.5rem;
    left: 0.625rem;
    color: #005587;
    font-size: 1.5rem;
    font-style: normal;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}
.mobileMainMenuIcon::before {
    position: relative;
    display: inline-block;
    font-family: "Ionicons";
    content: "\f394";
    font-size: 2.084rem;
}
.sendFeedback {
    height: 19px;
    font-family: Roboto;
    font-size: 1rem;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #0087d7;
    vertical-align: top;
    padding-top: 0.69rem;
    float:right;
    display: inline-block;
}
#LogoAndNavWrapper{
    padding-top:40px;
}
.mainNaviLogo {
    display: inline-block;
    vertical-align: middle;
    float: left;
}
.mainNaviLinkSet {
    display: inline-block;
    vertical-align: top;
    margin-left: 2.563rem;
    padding-top: 0.188rem;
    float: left;
}
.mainNaviLinkSet ul {
    float:left;
    margin: 0;
    padding: 0;
    list-style: none;
}
.mainNaviLinkSet ul li {
    position: relative;
    display: inline-block;
    box-sizing: border-box;
    height: 2.188rem;
    vertical-align: top;
    padding: 0.375rem 0.77rem 0.313rem;
}
.mainNaviLinkSet ul li:first-child {
    padding-left: 0;
}
.mainNaviLinkSet ul li a {
    font-family: 'Roboto';
    font-size: 1.125rem;
    font-weight: 500;
    line-height: 1.33;
    color: #212121;
    text-decoration: none;
}
.mainNaviLinkSet ul li.active a {
    position: relative;
    display: block;
    box-sizing: border-box;
    height: 100%;
    overflow: visible;
    color: #005587;
}
.mainNaviLinkSet ul li.active a::after {
    content: "";
    position: absolute;
    bottom: -0.438rem;
    left: 0;
    width: calc(100% + 0.125rem);
    height: 0.125rem;
    margin-left: -1px;
    background-color: #005587;
}
.new, .used, .deals, .loans, .videos{
    display:inline-block;
    height:24px;
}
/* mobile rules - perhaps we can import these as sep include */
@media (max-width: 414px) {
    div.cdcHeaderMenuWrapper {
        height: 3.13rem;
        margin-top: 0;
        padding-top: 0.5625rem;
    }
    div.cdcHeaderMenuWrapper .logo {
        width: 158px;
        height: 32px;
        background: url(//cdcssl.ibsrv.net/cdcx/images/mobile/sprites_2x.png) repeat -54px -8.5px;
        background-size: 17rem 16.31rem;
    }
    /* mobile main menu */
    i.mobileMainMenuIcon {
        display: block;
    }
    /* desktop main menu */
    div.cdcHeaderMenuWrapper .mainNaviLinkSet {
        display: none;
    }
}