.wrapper-top-bar {
    position: relative;
    min-height: 50px;
    font-size: 16px;
    margin-top: 20px;
}
.wrapper-top-bar .CDCXWUsedCarBuyPathReturnToListingsLink {
    display: none;
}
.wrapper-top-bar .top-bar-title-set {
    position: relative;
    float: left;
}
.wrapper-top-bar h1 {
    margin: 0px 0px 5px 0px;
    padding: 0px;
    font-size: 24px;
}
.wrapper-top-bar > span {
    position: relative;
    display: inline-block;
    vertical-align: middle;
}
.wrapper-top-bar .dealer-phone {
    color: #333399;
    font-size: 18px;
    font-weight: bold;
}
.wrapper-top-bar .dealer-name {
    color: #666;
    font-weight: bold;
}
.wrapper-top-bar .dealer-distance {
    color: #666;
}

.wrapper-top-bar .return-to-listings {
    color: #333399;
    font-size: 16px;
    font-weight: bold;
    text-decoration:none;
}
.wrapper-top-bar .divide {
    margin-left: 5px;
    margin-right: 5px;
    color: #999;
    font-size: 12px;
    vertical-align: 2px;
}
.top-bar-toolset {
    position: relative;
    float: right;
}
.top-bar-toolset a {
    border: none;
}
.top-bar-toolset button {
    margin-left: 8px;
}

.top-bar-toolset .gray-button {
    position: relative;
    float: right;
    font-size: 11px;
    color: #333;
    font-weight:bold;
    min-width: 60px;
    height: 21px;

    border: solid 1px #ccc;

    background: -webkit-linear-gradient(top, #ffffff 0%,#e0e0e0 100%);
    background: -o-linear-gradient(top, #ffffff 0%,#e0e0e0 100%);
    background: -ms-linear-gradient(top, #ffffff 0%,#e0e0e0 100%);
    background: linear-gradient(to bottom, #ffffff 0%,#e0e0e0 100%);

    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e0e0e0',GradientType=0 );
    border-radius: 3pt;
}

.top-bar-toolset .gray-button:after {
    background:none;
}

.top-bar-toolset .gray-button.savable{
    width:70px;
}

.top-bar-toolset div.WrapperButtonSave{
    display: inline-block;
}

.cd2-button{
    font-weight:normal !important;
    margin-left: 8px;
}

.cd2-button .icon-mobile-phone{
    font-size:14px;
}
.top-bar-toolset .simpleShareButton{display:inline-block;}

.simple-share-buttons-hideout #closeTooltip {
    margin: 0.44rem 0.8rem;
}

#btnSendToPhone.hidden{
    display: none;
}