.wrapper-top-bar {
    position: relative;
    min-height: 50px;
    font-size: 16px;
    margin-top: 20px;
}
.wrapper-top-bar .CDCXWUsedCarBuyPathReturnToListingsLink {
    display: none;
}
.wrapper-top-bar .top-bar-title-set {
    position: relative;
    float: left;
}
.wrapper-top-bar h1 {
    margin: 0px 0px 5px 0px;
    padding: 0px;
    font-size: 24px;
}
.wrapper-top-bar > span {
    position: relative;
    display: inline-block;
    vertical-align: middle;
}
.wrapper-top-bar .dealer-phone {
    color: #333399;
    font-size: 18px;
    font-weight: bold;
}
.wrapper-top-bar .dealer-name {
    color: #666;
    font-weight: bold;
}
.wrapper-top-bar .dealer-distance {
    color: #666;
}

.wrapper-top-bar .return-to-listings {
    color: #333399;
    font-size: 16px;
    font-weight: bold;
    text-decoration:none;
}
.wrapper-top-bar .divide {
    margin-left: 5px;
    margin-right: 5px;
    color: #999;
    font-size: 12px;
    vertical-align: 2px;
}
.wrapper-details-body {
    position: relative;
    margin-top: 15px;
}
.wrapper-details-body .column-left, .wrapper-details-body .column-right {
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    vertical-align: top;
}
.wrapper-details-body .column-left {
    float: left;
    width: 600px;
}
.wrapper-details-body .vehicle-details {
    position: relative;

}
.wrapper-details-body .vehicle-details > div {
    position: relative;
}
.wrapper-details-body .vehicle-details > div dl {
    padding-bottom: 6px;
    border-bottom: solid 1px #ccc;
}
.wrapper-details-body .vehicle-details > div dl dt {
    margin-bottom: 4px;
    font-weight: bold;
}
.wrapper-details-body .vehicle-details > div dl dd {
    margin-left: 0px;
}
.wrapper-details-body .vehicle-details > div .block-foot h4 {
    margin: 0px 0px 5px 0px;
    padding: 0px;
}
.wrapper-details-body .vehicle-details .top {
    overflow: hidden;
}
.wrapper-details-body .vehicle-details .top .block-left {
    float: left;
    width: 290px;
}

.wrapper-details-body .vehicle-details .top .block-right {
    float: right;
    width: 290px;
}
.wrapper-details-body .vehicle-details .middle {
    margin-bottom: 10px;
}
.wrapper-details-body .vehicle-details .poorcredit {
    height: 22px;
    font-family: Helvetica;
    font-size: 18px;
    font-weight: bold;
    color: #334268;
    margin-bottom: 6px;
}

.carfaxLink {
    position: relative;
    display: table-row;
}
.carfaxLink > span {
    position: relative;
    display: table-cell;
    vertical-align: middle;
}
.carfaxLink .carfaxLinkRight {
    padding-left: 30px;
    padding-right: 30px;
    border-right: none;
}

.carFaxLogo1Owner {
    position: relative;
    display: block;
    height: 34px;
    width: 100px;
    margin-top: -3px;
    margin-left: 8px;
    background: url("https://cdcssl.ibsrv.net/cdcx/images/carfax/show_me_carfax_new.svg") no-repeat scroll;
}
.carFaxLogoMultiOwner {
    position: relative;
    display: block;
    height: 34px;
    width: 100px;
    margin-top: -3px;
    margin-left: 8px;
    background: url("https://cdcssl.ibsrv.net/cdcx/images/carfax/show_me_carfax_new.svg") no-repeat scroll -125px -35px;
}
.carFaxMiddle {
    width: 85px;
    font-family: Helvetica;
    font-size: 14px;
    color: #4a4a4a;
    position: relative;
    max-width: 120px;
    height: 43px;
    vertical-align: middle;
}

.wrapper-features {
    position: relative;
}
.wrapper-details-body .column-right {
    float: right;
    width: 380px;
}
.wrapper-details-body .column-right > div {
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.wrapper-details-body .column-right .column-top {
    width: 100%;
    border: solid 1px #ccc;
    border-bottom: none;
    display: inline-block;
}
.wrapper-details-body .column-right .column-top div.price-container {
    position: relative;
    padding: 10px;
    float: left;
    margin-top: 10px;
    min-height: 45px;
}
.wrapper-details-body .column-right .column-top .price {
    position: relative;
    display: inline;
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 10px;
}
.wrapper-details-body .column-right .column-top .miles {
    position: relative;
    font-size: 16px;
    display: inline;
    color: #767676;
}
.wrapper-details-body .column-right .column-top .great-deals {
    display: inline-block;
    width: 95%;
    color: #5c9952;
    padding: 8px 10px 8px 10px;
    vertical-align: middle;
    border-top: solid 1px #ccc;
}
.wrapper-details-body .column-right .column-top .great-deals strong {
    text-transform: uppercase;
}
.wrapper-details-body .column-right .column-top .great-deals .icon-caret-up {
    display: inline-block;
    font-size: 34px;
    line-height: 1px;
    height: 9px;
    margin-top: 2px;
    margin-right: 8px;
    vertical-align: middle;
}
.wrapper-details-body .column-right .column-bottom {
    position: relative;
}

.zControl{
    position: relative;
    z-index:1 !important;
}

.calculator-container{
    float: right;
    position: absolute;
    top: 5px;
    right: 25px;
}
.columnRightVariant1 .wrapperPriceChange {
    display: inline;
}
.wrapper-details-body .sticky-form.variant,
.wrapper-details-body .sticky-form.variant1,
.wrapper-details-body .sticky-form.variant2 {
    display:none;
}

.CDCHGlobalMainFooterStructure{
    margin-top:20px;
    font-family: Helvetica;
}
.itemTypeOfDeal.GREAT {
    height: 18px;
    font-family: Helvetica;
    font-size: 15px;
    font-weight: bold;
    margin-top: 10px;
    color: #72c512;
}
.itemTypeOfDeal.GOOD {
    height: 18px;
    font-family: Helvetica;
    font-size: 15px;
    font-weight: bold;
    margin-top: 10px;
    color: #a3bd24;
}
.itemTypeOfDeal.FAIR {
    height: 18px;
    font-family: Helvetica;
    font-size: 15px;
    font-weight: bold;
    margin-top: 10px;
    color: #f3c10a;
}
.itemPriceDeal {
    font-family: Helvetica;
    font-size: 14px;
    font-weight: bold;
    color: #333;
    text-align: left;
    margin-top: 10px;
}
.estimatedPrice {
    font-family: Helvetica;
    font-size: 14px;
    font-weight: bold;
    color: #9e9e9e;
    margin-bottom: 5px;
    margin-top: 5px;
}
.deals-icon{
    position: relative;
    display: inline-block;
    width:17px;
    height:12.1px;
    padding-right: 5px;
    padding-left: 5px;
}
.deal-question-sign{
    background: transparent url("//cdcssl.ibsrv.net/cdcx/images/options/sprite.png") no-repeat scroll -785px -221px;
    cursor: pointer;
    display: inline-block;
    height: 11px;
    margin: 4px 0 0 2px;
    width: 11px;
}
.popUp{
    display: none;
}
li.footerMainLinksTitle, li.footerMainLinksText{
    margin-bottom : 0;
}
.icon-ok {
    color: #465679;
    font-size: 12px;
}
.CDCYGPTPlaceholder.widget > div {
    position: relative;
    display: block;
}
.textRightTop > div::before,
.textTopRight > div::before,
.textBottomRight > div::before,
.textTopLeft > div::before,
.textLeftTop > div::before,
.textBottomLeft > div::before,
.textRightMiddle > div::before {
    content: "Ad";
    position: absolute;
    height: 0.625rem;
    font-family: 'Roboto', Helvetica;
    font-size: 0.563rem;
    line-height: 0.11rem;
    color: #9e9e9e;
    z-index: 99;
    pointer-events: none;
}
.textTopRight > div::before {
    right: 0.15rem;
    top: -0.4rem;
}
.textRightTop > div::before {
    right: -0.85rem;
    top: 0.3rem;
}
.textBottomRight > div::before {
    right: 0.15rem;
    bottom: -1.0rem;
}
.textTopLeft > div::before {
    left: 0.15rem;
    top: -0.4rem;
}
.textLeftTop > div::before {
    left: -0.85rem;
    top: 0.3rem;
}
.textBottomLeft > div::before {
    left: 0.15rem;
    bottom: -1.0rem;
}
.textRightMiddle > div::before {
    right: -1.25rem;
    top: 0;
    bottom: 0;
    line-height: 16px;
}
.sponsoredAdText > div::before {
    content: "Sponsored Ad";
}
.sponsoredAdText > div > iframe {
    background-color:transparent;
}
/* Specific to full width ads */
.adSpotFullWidth .textRightTop > div::before {
    right: -1rem;
    top: 0.25rem;
}

/*specific to top ad 728*90*/
.CDCYGPTPlaceholder.widget > div {
    margin:0 auto;
}
