<template>

<div class="breadcrumbsWrapper">
    <ul id="breadCrumbs" class="breadCrumbs">
        <li itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
            <a href="/" class="home">
                <span itemprop="title">Home</span>
            </a>
        </li>
        <li itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
            <a href="/used_cars/search" class="home">
                <span itemprop="title">Used Cars</span>
            </a>
        </li>
        <li>
            <a class="home" :href="'/used_cars/region/' + stateName">
                <span itemprop="title">{{stateName}}</span>
            </a>
        </li>
        <li>
            <a class="home" :href="'/used_cars/region/' + stateName + '/' + city">
                <span itemprop="title">{{city}}</span>
            </a>
        </li>
        <li>
            <a class="home" :href="'/used_cars/region/' + stateName + '/' + city + '/' + makeNameDenorm">
                <span>{{makeNameDenorm}}</span>
            </a>
        </li>
        <li>
            <a class="home" :href="'/used_cars/region/' + stateName + '/' + city + '/' + makeNameDenorm + '/' + modelNameDenorm">
                <span>{{modelNameDenorm}}</span>
            </a>
        </li>
        <li>
            <span>{{year}} {{makeNameDenorm}} {{modelNameDenorm}}</span>
        </li>
    </ul>
</div>

</template>

<script scope>
    export default {
        name: "breadCrumbs",
        props:{
            CDCObjects : {
                type : Object,
                required : false
            },
            makeNameDenorm : {
                type : String,
                required : false
            },
            modelNameDenorm : {
                type : String,
                required : false
            },
            anyUsedListingId : {
                type : String,
                required : true
            },
            city : {
                type : String,
                required : false
            },
            stateName : {
                type : String,
                required : false
            },
            year : {
                type : String,
                required : false
            }
        },
        methods : {

        },
        watch : {
            CDCObjects : {
                deep : true,
                handler() {

                }
            }
        }
    }
</script>

<style scoped>
    @import url("../styles/CDCXWBreadCrumbs.css");
</style>