<template>
    <div>
        <div v-if="moreThanNoImage" class="carGallery" id="carGallery" :slidewidth="slideWidth" :thumbwidth="thumbWidth"
             :ismobile="isMobile" :istouch="isTouch" :lazyload="lazyLoad">
            <div class="imgHolder">
                <span v-if="moreThanOneImage">
                    <div class="photoNavi photoNaviLeft" title="Previous" rel="prev">
                        <span class="icon-angle-left"></span>
                    </div>
                    <div class="photoNavi photoNaviRight" title="Next" rel="next">
                        <span class="icon-angle-right"></span>
                    </div>
                </span>

                <ul class="photoList bxslider1" viewcnt="1" inview="0">
                    <li v-for="(image, index) in carouselImages" :key="image" class="item" :class="itemLoader" :rel="index" :item="image.image">
                        <div>
                             <a v-if="isMobile != true" :href="image.image" rel="cbox" :index="index">
                                <img v-if="lazyLoad == true && index <= 1" itemprop="image" :src="image.image"
                                     :alt="year + ', ' + makeNameDenorm+' '+altModelTrimText+' - '+dealerCity+', '+dealerState+' - '+index"
                                     :index="index"/>
                                <img v-else-if="lazyLoad == true" src="//cdcssl.ibsrv.net/cdcx/images/none.gif" :data-src="image.image"
                                     :index="index"/>
                                <img v-else itemprop="image" :src="image.image"
                                 :alt="year+', '+makeNameDenorm+' '+altModelTrimText+' - '+dealerCity+', '+dealerState+' - '+index"
                                 :index="index" />
                             </a>
                        </div>
                    </li>
                </ul>
            </div>
            <div v-if="moreThanOneImage" class="thumbsHolder">
                <div class="photoNavi photoNaviLeft" title="Previous" rel="prev">
                    <span class="icon-angle-left"></span>
                </div>
                <div class="photoNavi photoNaviRight" title="Next" rel="next">
                    <span class="icon-angle-right"></span>
                </div>
                <ul class="photoList bxslider2" :viewcnt="thumbCarouselViewCnt">
                    <li v-for="(image, index) in images" :key="image"  class="item" :class="itemLoader" :rel="index" :item="image.image">
                        <img v-if="lazyLoad == true && index <= 5" :src="image.image"
                                 :alt="year+', '+makeNameDenorm+' '+altModelTrimText+' - '+dealerCity+', '+dealerState+' - '+index"
                                 :index="index" />
                        <img v-else-if="lazyLoad == true" src="//cdcssl.ibsrv.net/cdcx/images/none.gif" :data-src="image.image" :index="index"/>
                        <img v-else :src="image.image"
                             :alt="year+', '+makeNameDenorm+' '+altModelTrimText+' - '+dealerCity+', '+dealerState+' - '+index" />
                    </li>
                </ul>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "CD2UsedCarBuyPathDetailsCarGallery2",
        props : {
            CDCObjects: {
                type: Object,
                required: false
            },
            makeName : {
                type : String,
                required : true
            },
            modelName : {
                type : String,
                required : true
            },
            anyUsedListingId : {
                type : String,
                required : true
            },
            makeNameDenorm : {
                type : String,
                required : false
            },
            modelNameDenorm : {
                type : String,
                required : false
            },
            year : {
                type : String,
                required : false
            },
            listingDetails : {
                type : Object,
                required : false
            },
            lazyLoad : {
                type : Boolean,
                required : false,
                default : false
            },
            dealerCity : {
                type : String,
                required : false
            },
            dealerState : {
                type : String,
                required : false
            }
        },
        computed: {
            slideWidth() {
                return 600;
            },
            thumbWidth() {
                return 120;
            },
            isMobile() {
                return window.location.href.includes('m.');
            },
            thumbCarouselViewCnt() {
                return 5;
            },
            carouselImages() {
                return null;
            },
            moreThanOneImage() {
                return (this.carouselImages && this.carouselImages.size()>1);
            },
            moreThanNoImage() {
                return (this.carouselImages && this.carouselImages.size()>0);
            },
            placeholderImage() {
                return true;
            },
            parentInit() {
                return true;
            },
            showColorbox() {
                return true;
            },
            isTouch() {
                return true;
            },
            itemLoader() {
                return this.lazyLoad == true ? "itemLoader" : "";
            },
            altModelTrimText() {
                let trim = "";
                let altModelTrimText= this.modelNameDenorm + trim;
                if(trim == "") altModelTrimText = this.modelNameDenorm;
                return altModelTrimText;
            },
            images() {
                if(carouselThumbs) {
                    return carouselThumbs;
                } else {
                    return carouselImages;
                }
            }




        }






    }
</script>

<style scoped>
    @import url("../styles/CD2StyleBXSlider.css");
    @import url("../styles/CD2UsedCarBuyPathDetailsCarGallery2.css");
</style>