<template>
    <div class="wrapperPriceChange">
        <span class="priceChangeAlertIconSet"></span>
        <div class="priceChangeAlertModalContent" :class="priceChangeAlertModalContentMobile">
            <strong class="ymmTextTitle">{{year}} {{makeNameDenorm}} {{modelNameDenorm}}</strong>
            <p>Enter your phone number to receive price change text messages for this listing.</p>
            <div class="inputSet">
                <input type="text" class="priceAlertPhoneEntry" name="priceAlertPhoneEntry" placeholder="enter phone..." />
                <p class="error"></p>
            </div>
            <div class="buttonSet">
                <div class="cd2-button cd2-green cd2-large">Create Alert</div>
            </div>
            <p class="tcpa">I am aware that by clicking on "Create Alert" I will receive text message alerts notifying me of price change for this listing.</p>
        </div>
        <div class="priceChangeAlertCancelModalContent">
            <p>You've already set up <b>Price Change Alerts</b> for this listing.</p>
            <div class="buttonSet buttonSet2">
                <div class="cd2-button cd2-green cd2-large">Continue Browsing</div>
            </div>
            <a class="cancelAlertLink">Cancel Alert</a>
        </div>
        <span v-if="isMobile">
            <div class="priceChangeTooltip">
                <i class="handle"></i>
                <h6>Sign Up for Price Alert Changes</h6>
                <p>Be the first to know when the price for this listing changes via SMS messages.</p>
            </div>
        </span>
    </div>
</template>

<script>
    export default {
        name: "CDCXWPriceChangeAlert",
        props : {
            CDCObjects: {
                type: Object,
                required: false
            },
            makeName : {
                type : String,
                required : true
            },
            modelName : {
                type : String,
                required : true
            },
            makeNameDenorm : {
                type : String,
                required : false
            },
            modelNameDenorm : {
                type : String,
                required : false
            },
            year : {
                type : String,
                required : false
            }
        },
        computed: {
            isMobile() {
                return window.location.href.includes('m.');
            },
            priceChangeAlertModalContentMobile() {
                let isMobile = window.location.href.includes('m.');
                return isMobile ? "priceChangeAlertModalContentMobile" : "";
            }
        }
    }
</script>

<style scoped>
    @import url("../styles/CDCXWPriceChangeAlert.css");
</style>