<template>
    <header class="mainHeaderWrapperInner">
      <HeaderMenu />
    </header>
</template>

<script>
import HeaderMenu from './main_navi.vue'

export default {
  name : 'GlobalHeader',
  components : {
    HeaderMenu
  },
  props : {

  }
}
</script>

<style>
.mainHeaderWrapperInner {
  width: 100%;
  max-width: 1230px;
  height: 5.63rem;
  margin: 0 auto;
}

/* mobile rules - perhaps we can import these as sep include */
@media (max-width: 414px) {
    .brandingBar {
        display: none;
    }
    header.mainHeaderWrapperInner {
        height: 3.13rem;
    }
}
</style>