<template>
    <div class="cdcHeaderMenuWrapper">
      <div class="brandingBar">
        <div id="BlueBarWrapper">
          <div class="leftBlueBarLinks">
            <ul class="leftBar">
              <li class="phone"><span class="ion-android-phone-portrait"></span><span x-ms-format-detection="none" class="phoneNo">1-888-227-7347</span></li>
              <li class="liveChat">
                <a onclick="javascript:window.open('https://carsdirect.contactatonce.com/caoclientcontainer.aspx?ProviderId=15&MerchantId=CA54061&PlacementId=7&OriginationUrl='+encodeURIComponent(location.href),'','resizable=yes,toolbar=no,menubar=no,location=no,scrollbars=no,status=no,height=400,width=600');return false;" href="#"><img src="https://carsdirect.contactatonce.com/getagentstatusimage.aspx?ProviderId=15&MerchantId=CA54061&PlacementId=7" border="0" onerror="this.height=0;this.width=0;"/></a>
              </li>
              <li class="help"><span class="ion-help-circled"></span><a href="/help/buying#buying"><span class="helpLink">Help</span></a></li>
            </ul>
          </div>
          <div class="rightBlueBarLinks">
            <ul class="rightBar">
              <li class="savedVehicles"><a href="/favorites/cars"><span class="saved">Saved Vehicles</span></a><span class="showCarNumBox"><span class="innerFont">0</span></span></li>
              <li class="savedSearches"><a href="/favorites/used-searches"><span class="searches">Saved Searches</span></a><span class="showNumSearchesBox"><span class="innerFont">0</span></span></li>
            </ul>
          </div>
          <input type="hidden" value="true" id="isDesktopReboot"/>
        </div>
      </div>
      <div class="mainNaviLogo">
        <strong class="logo"><a href="/">Cars Direct</a></strong>
      </div>
      <div class="mainNaviLinkSet">
        <ul class="mainNav">
          <li><a href="/new_cars/search" class="newCars"><span>New Cars</span></a></li>
          <li class="active"><a href="/used_cars/search" class="usedCars"><span>Used Cars</span></a></li>
          <li><a href="/deals" class="deals"><span>New Car Deals</span></a></li>
          <li><a href="/auto-loans/" class="autoLoans"><span>Auto Loans</span></a></li>
          <li><a href="/videos" class="video"><span>Videos</span></a></li>
        </ul>
      </div>
      <a class="sendFeedback" href="#">Send Feedback</a>
    </div>
</template>

<script>
export default {
  name : 'HeaderMenu',
  props : {

  }
}
</script>

<style>
  @import url("../styles/MainNavi.css");
</style>