<template>
    <div id="mainWrapper" :data-zipcode="$store.state.zipcode">
        <div class="mainWrapperInner">
            <div class="mainHeaderWrapper">
                <div class="headerNaviWrapper">
                    <GlobalHeader />
                </div>
                <bread-crumbs v-bind="$props" :city="city" :stateName="stateName" :year="year"/>
                <div class="TopBanner">
                    <div class="adSpot"><img :src="'/images/headerAd.png'"></div>
                </div>
            </div>
            <div class="mainContentWrapper">
                <wrapper-top-bar v-bind="$props" :year="year" :listingDetails="listingDetails"/>
                <wrapper-details-body v-bind="$props" :year="year" :listingDetails="listingDetails" :dealerCity="city" :dealerState="stateName"/>
            </div>
        </div>
    </div>
</template>

<script>
    import AxiosHelper from '@/assets/js/axios_helper.js'
    import GlobalHeader from './header.vue';
    import BreadCrumbs from "./breadCrumbs";
    import WrapperTopBar from "./wrapperTopBar";
    import WrapperDetailsBody from "./wrapperDetailsBody";
    export default {
        name: "UsedCarBuyPathListingsDetailPage",
        props : {
            CDCObjects: {
                type: Object,
                required: false
            },
            makeName : {
                type : String,
                required : true
            },
            modelName : {
                type : String,
                required : true
            },
            anyUsedListingId : {
                type : String,
                required : true
            },
            makeNameDenorm : {
                type : String,
                required : false
            },
            modelNameDenorm : {
                type : String,
                required : false
            }
        },
        components: {
            WrapperDetailsBody,
            BreadCrumbs,
            GlobalHeader,
            WrapperTopBar
        },
        data() {
            return {
                city: "",
                stateName : "",
                year: "",
                listingDetails: {},
                publicPath : this.$root.publicPath
            }
        },
        methods : {
            /* generate and save a denormalized make & model name based on active make & model */
            createDenormalizedMakeModel() {
                // set our make
                let makeName = this.makeName;
                for(let key in this.CDCObjects.MMList.makes.new) {
                    if(makeName in this.CDCObjects.MMList.makes.new[key]) {
                        this.$root.makeNameDenorm = this.CDCObjects.MMList.makes.new[key][makeName];
                        break;
                    }
                }
                // set our model
                let modelName = this.modelName;
                for(let key in this.CDCObjects.MMList.models.new[makeName]) {
                    if(modelName == key) {
                        this.$root.modelNameDenorm = this.CDCObjects.MMList.models.new[makeName][key].name;
                        break;
                    }
                }
            },
            fetchCityAndState() {
                const extractCityState = (data) => {
                    this.stateName = data.stateName;
                    this.city = data.city;
                };
                AxiosHelper.callGetService('geocoding/v1/getLocationInfo', (response) => {
                    if(response) {
                        extractCityState(response);
                    }
                }, { zipcode : this.$store.state.zipcode});
            },
            fetchVehicleYear() {
                const extractVehicleYear = (data) => {
                    this.year = data.year;
                    this.listingDetails = data;
                };
                let domainName = 'http://localhost:8080/';
                let listingId = this.anyUsedListingId.substring(2,this.anyUsedListingId.length);
                AxiosHelper.callGetService('usedcar/v1/getDetails', (response) => {
                    if(response) {
                        extractVehicleYear(response);
                    }
                }, { zipcode: this.$store.state.zipcode, domainName:
                    domainName, sslfriendlyimages: 'true', profileId: null, listingId: listingId});
            }
        },
        watch : {
            CDCObjects : {
                deep : true,
                handler() {
                    this.createDenormalizedMakeModel();
                    this.fetchCityAndState();
                    this.fetchVehicleYear();
                }
            }
        }
    }
</script>

<style>
    @import url("../styles/CD2GlobalGenericStyles.css");

    #mainWrapper {
        position: relative;
        margin: 0px auto;
        width: 1000px;
    }
    .mainWrapperInner {
        width: 100%;
    }
    .headerNaviWrapper {
        width: 100%;
        color: #212121;
        background-color: #f7f7f7;
        border-bottom: solid 1px #d8d8d8;
    }
    .mainContentWrapper {
        position: relative;
        margin: 0px auto;
        width: 1000px;
    }
    .TopBanner {
        position: relative;
        text-align: center;
        margin: 10px 0 10px;
        min-height: 90px;
    }
    .adSpot img {
        display: block !important;
        visibility: visible !important;
        height: 93px !important;
        width: 728px;
        position: relative;
        min-height: 93px !important;
        margin: auto;
    }

    /* mobile rules - perhaps we can import these as sep include */
    @media (max-width: 414px) {
        .mainContentWrapper {
            min-width: 0;
            max-width: 100%;
        }
    }
</style>