<template>
    <div class="wrapper-details-body">
        <div class="column-left" itemprop="itemOffered" itemscope itemtype="http://schema.org/Car">
            <span itemprop="mileageFromOdometer" itemscope itemtype="http://schema.org/QuantitativeValue"></span>
            <CD2UsedCarBuyPathDetailsCarGallery2 v-bind="$props" :lazyLoad="false"/>
            <div class="vehicle-details">
                <div class="top">
                    <div class="block-left">
                        <dl>
                            <dt>Trim</dt>
                            <dd itemprop="vehicleConfiguration">
                                <span v-if="listingDetails.trim && listingDetails.trim != ''">{{listingDetails.trim}}</span>
                                <span v-else>N/A</span>
                            </dd>
                        </dl>
                        <dl>
                            <dt>Transmission</dt>
                            <dd itemprop="vehicleTransmission">
                                <span v-if="listingDetails.transmission != ''">{{listingDetails.transmission}}</span>
                                <span v-else>N/A</span>
                            </dd>
                        </dl>
                        <dl>
                            <dt>Engine</dt>
                            <dd>
                                <span v-if="listingDetails.engine != ''">{{listingDetails.engine}}</span>
                                <span v-else>N/A</span>
                            </dd>
                        </dl>
                        <span v-if="newCarVDP == false">
                            <dl>
                                <dt>Doors</dt>
                                <dd itemprop="numberOfDoors">
                                    <span v-if="listingDetails.doors != '' && listingDetails.doors != '0'">
                                        {{listingDetails.doors}}
                                    </span>
                                    <span v-else>N/A</span>
                                </dd>
                            </dl>
                        </span>
                        <dl>
                            <dt>Stock ID</dt>
                            <dd itemprop="sku">
                                <span v-if="listingDetails.stockId != ''">listingDetails.stockId</span>
                                <span v-else>N/A</span>
                            </dd>
                        </dl>
                    </div>
                    <div class="block-right">
                        <dl>
                            <dt>Exterior Color</dt>
                            <dd itemprop="color">
                                <span v-if="listingDetails.exteriorColor != ''">{{listingDetails.exteriorColor}}</span>
                                <span v-else>N/A</span>
                            </dd>
                        </dl>
                        <dl>
                            <dt>Interior Color</dt>
                            <dd itemprop="vehicleInteriorColor">
                                <span v-if="listingDetails.interiorColor!=''">{{listingDetails.interiorColor}}</span>
                                <span v-else>N/A</span>
                            </dd>
                        </dl>
                        <span v-if="newCarVDP == true">
                            <dl>
                                <dt>Doors</dt>
                                <dd>
                                    <span v-if="listingDetails.doors !='' && listingDetails.doors!='0'">
                                        {{listingDetails.doors}}
                                    </span>
                                    <span v-else>N/A</span>
                                </dd>
                            </dl>
                        </span>
                        <span v-else>
                            <dl>
                                <dt>Certified Pre-Owned?</dt>
                                <dd>
                                    <span v-if="listingDetails.certified == 'true'">Yes</span>
                                    <span v-else>No</span>
                                </dd>
                            </dl>
                        </span>
                        <dl>
                            <dt>VIN</dt>
                            <dd itemprop="vehicleIdentificationNumber">{{listingDetails.vin}}</dd>
                        </dl>
                        <span v-if="newCarVDP == false">
                            <dl>
                                <dt>&nbsp;</dt>
                                <dd>&nbsp;</dd>
                            </dl>
                        </span>
                    </div>
                </div>
                <span v-if="newCarVDP == false">
                    <div class="middle">
                        <div class="poorcredit">
                            Poor Credit?
                        </div>
                        <a href="/auto-finance/loan-request" class="getFinancing">We can help you get financing &raquo;</a>
                        <dl></dl>
                    </div>
                </span>
                <div class="bottom">
                    <span v-if="newCarVDP == false">
                        <div class="poorcredit">
                            Vehicle History Report
                        </div>
                        <span v-if="newCarVDP == false">
                            <a class="carfaxLink" :class="carfaxLinkClass" target="_blank" :href="carfaxLinkURL">Get a CARFAX Record Check &raquo;</a>
                        </span>
                        <dl></dl>
                    </span>
                </div>
                <div class="cd2-clear-both"></div>
            </div>
            <!--div class="wrapper-features">
                CDCXWUsedCarDetailsFeaturesAndComments
            </div>
            <div class="similar-listings">
                CDCXWUsedCarDetailsSimilarListings
            </div-->
        </div>
        <div class="column-right control">
            <div class="column-top">
                <div class="price-container">
                                    <span class="price">
                                        <span v-if="price == '' || price == '$0'">
                                            Contact Seller
                                        </span>
                                        <span v-else>
                                            {{listingDetails.price}}
                                            <CDCXWPriceChangeAlert v-bind="$props" />
                                        </span>|
                                    </span>
                    <span v-if="listingDetails.mileage != '' && listingDetails.mileage != '0'">
                        <span class="miles">{{listingDetails.mileage}} mi</span>
                    </span>
                </div>
                <span v-if="priceValue >= 1000">
                    <div class="calculator-container">
                        <!--span v-if="newCarVDP == true">
                            $!CMP_CDCXWFinanceLeaseCalculator(price: $price, showBoxBorder: true)
                        </span>
                        <span v-else>
                            $!CMP_CDCXWFinanceLeaseCalculator(price: $price, showBoxBorder: true, isUsed: true)
                        </span-->
                    </div>
                </span>
            </div>
            <!--div class="column-bottom">
                $!CMP_CDCXWUsedCarBuyPathRedesignContactSeller
            </div-->
        </div>
    </div>
</template>

<script>
    import CD2UsedCarBuyPathDetailsCarGallery2 from "./CD2UsedCarBuyPathDetailsCarGallery2";
    import CDCXWPriceChangeAlert from "./CDCXWPriceChangeAlert";

    export default {
        name: "wrapperDetailsBody",
        props : {
            CDCObjects: {
                type: Object,
                required: false
            },
            makeName : {
                type : String,
                required : true
            },
            modelName : {
                type : String,
                required : true
            },
            anyUsedListingId : {
                type : String,
                required : true
            },
            makeNameDenorm : {
                type : String,
                required : false
            },
            modelNameDenorm : {
                type : String,
                required : false
            },
            year : {
                type : String,
                required : false
            },
            listingDetails : {
                type : Object,
                required : false
            },
            city : {
                type : String,
                required : false
            },
            stateName : {
                type : String,
                required : false
            }
        },
        components: {
            CD2UsedCarBuyPathDetailsCarGallery2,
            CDCXWPriceChangeAlert
        },
        computed: {
            carfaxLinkClass() {
                let listingDetails = this.listingDetails;
                let carfaxLinkClass = "";
                if(listingDetails.carfaxOneOwner || listingDetails.freeVehicleReportAvailable) {
                    carfaxLinkClass = "carfaxReportHover";
                }
                return carfaxLinkClass;
            },
            carfaxLinkURL() {
                let carfaxEncodedUrl = this.listingDetails.carfaxICRUrl;
                let freeVehicleReportAvailable = this.listingDetails.freeVehicleReportAvailable;
                let carfaxURL = "";

                if(carfaxEncodedUrl && carfaxEncodedUrl != "" && freeVehicleReportAvailable) {
                    carfaxURL= encodeURI(carfaxEncodedUrl);
                }
                return  "/used_cars/goto?url=" + carfaxURL + "&source=carfax&sellerId=" + this.listingDetails.sellerId;
            },
            newCarVDP() {
                return window.location.href.includes('/new_cars/');
            },
            price() {
                return this.listingDetails.price;
            },
            priceValue() {
                let priceValue;
                if (this.listingDetails.price !== undefined) {
                    if (this.listingDetails.price == "" || this.listingDetails.price == "$0") {
                        priceValue = 0
                    } else {
                        priceValue = this.listingDetails.price.replaceAll('\\$', '');
                    }
                }
                return priceValue;
            }
        }
    }
</script>

<style scoped>
    @import url("../styles/wrapperDetailsBody.css");
</style>