<template>
    <div class="wrapper-top-bar">
        <div class="top-bar-title-set">
            <h1 itemprop="name">{{year}} {{makeNameDenorm}} {{modelNameDenorm}}</h1>
            <span v-if="sourceListingsUrl != ''">
                <a class="return-to-listings" :href="sourceListingsUrl">&laquo; Back to listings</a>
                <span class="divide">|</span>
            </span>
            <span v-if="dealerPhone != ''">
                <span class="dealer-phone">
                    <span class="icon-mobile-phone">&nbsp;</span> {{dealerPhone}}
                </span>
                <span class="divide">|</span>
            </span>
            <span class="dealer-name">{{dealerName}}</span>
            <span v-if="distanceFromZip != '' || isCarvanaListing == true">
                <span class="divide">|</span>
                <span class="dealer-distance">
                    <span v-if="isCarvanaListing == false">
                        {{distanceFromZip}} miles from {{zipcode}}
                    </span>
                    <span v-else>
                        Carvana - Online Shipping
                    </span>
                </span>
            </span>
        </div>
        <div class="top-bar-toolset">
            <div id="btnSendToPhone" class="cd2-button cd2-gray cd2-xxxsmall">
                <span class="icon-mobile-phone"></span> Send to Phone
            </div>
            <input type="hidden" name="smsTxtIdShrBar" value="$!mobAutoVehicle.smsTextId" />
            <a href="/used_cars/vehicle-detail/printable/ul$!{listingId}?makeName=$!{anyUsedMakeName}&modelName=$!{anyUsedModelName}&year=$!{year}">
                <div class="cd2-button cd2-gray cd2-xxxsmall buttonPrint">
                    <span class="icon-print"></span> Print
                </div>
            </a>
            <div class="simpleShareButton shareButtonHolder">
                <div class="btnShare cd2-button cd2-gray cd2-xxxsmall"> <i class="icon-signin"></i> Share</div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "wrapperTopBar",
        props:{
            CDCObjects : {
                type : Object,
                required : false
            },
            makeName : {
                type : String,
                required : true
            },
            modelName : {
                type : String,
                required : true
            },
            makeNameDenorm : {
                type : String,
                required : false
            },
            modelNameDenorm : {
                type : String,
                required : false
            },
            anyUsedListingId : {
                type : String,
                required : true
            },
            year : {
                type : String,
                required : false
            },
            listingDetails : {
                type : Object,
                required : true
            }
        },
        computed: {
            sourceListingsUrl() {
                return "/used_cars/listings/" + this.makeName + "/" + this.modelName + "?anyUsedModelName=" + this.modelName + "&pageNum=1&anything=" + this.makeName;
            },
            dealerPhone() {
                let dealerPhone = "";
                if (this.listingDetails.dealerPhoneFormatted !== undefined
                    && this.listingDetails.dealerPhoneFormatted.validNumber) {
                    dealerPhone = this.listingDetails.dealerPhoneFormatted.standardFormattedNumber;
                }
                return dealerPhone;
            },
            dealerName() {
                return this.listingDetails.dealerName;
            },
            distanceFromZip() {
                return this.listingDetails.distance;
            },
            isCarvanaListing() {
                let isCarvanaListing = false;
                if(this.listingDetails.source == "Carvana"){
                    isCarvanaListing = true;
                }
                return isCarvanaListing;
            },
            zipcode() {
                return this.$store.state.zipcode;
            }
        }
    }
</script>

<style scoped>
    @import url("../styles/wrapperTopBar.css");
</style>