<template>
  <div id="app">
    <router-view v-bind="$props" />
  </div>
</template>

<script>

export default {
  name: 'App',
  props : ['CDCObjects', 'anyUsedListingId', 'makeNameDenorm', 'modelNameDenorm'],
  components: {

  },
  methods : {

  }
}
</script>

<style>
  @import url('styles/main.css');
  @import url("styles/CD2GlobalGenericStyles.css");
</style>
